<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>Ruby on Rails スケジュール管理アプリ</header>
    <%= yield %>
    <footer>現在の日時:<%= Date.today %> スケジュール合計:<%= Memo.all.count(:id) %></footer>
  </body>
</html>
